/* Universal CSS */
.App {
    background: #f6f9ff;
}

.shorttxt {
    font-size: 14px;
}

.vshorttxt {
    font-size: 12px;
}

.signupin {
    min-width: 310px;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.home__filterlists {
    list-style: none;
    padding: 0;
}

.productsarea__search {
    width: 260px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 1rem;
}

.product {
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    overflow: hidden;
    background-color: white;
}

.product__pic {
    height: 180px;
    max-width: 100%;
    margin: auto;
}

.cart {
    max-width: 700px;
    margin: auto;
}

.cart__products {
    max-width: 350px;
    margin: auto;
}

.cart__productpic {
    width: 150px;
    height: 175px;
}

.cart__productdetails__quantitybox {
    width: 20px;
    padding: 0;
    border: 1px solid #00000054;
}